/*Home Page--CSS*/
body{
    margin: 0;
    background-image: url("images\OIP.jpeg");
}


.theme-btn {
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
  }
  .theme-btn:active {
    transform: translateY(-3px);
  }
  .theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }

#top{
    background-color: blue;
    
}

/*Navigation*/

.navbar-nav{
    padding-right: 20px;
    padding-top:30px;
    
}

.nav-link{
    padding-left: 5px;
}

/*Poll Side*/

.poll-name{
    text-align: center;
    padding-top: 20px;
}

.rw1{
    padding-top: 150px;
    padding-bottom: 180px;
    text-align: center;
}

.cn{
    padding-bottom: 15px;
}
.btn{
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn:after {
    content: "";
    background: blue;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    
  }

  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
    
  }



  #footer{
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: lightyellow;
      text-align: center;
  }

  .link-icon{
      color: black;
      font-size: 25px;
      padding-right: 10px;
  }